
label {
  font-size: 11pt;
}
#card {
  background: white;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.65);
  height: 500px;
  margin: 40px auto 0 auto;
  width: 350px;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#submit-btn {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  height: 40px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.40;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.form-border {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  height: 1px;
  width: 100%;
}
.form-content {
  background: white;
  border: none;
  outline: none;
  padding-top: 10px;
}
.underline-title {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  height: 2px;
  margin: 0 auto 0 auto;
  width: 190px;
}
.layanan {
  position: relative;
  padding-top: 14px;
}
.layanan select {
  border: none;
  outline: none;
  width: 100%;
}